
.vs/UG_Remote/v16/.suo
.vs/UG_Remote/v16/Browse.VC.db
.vs/UG_Remote/v16/Browse.VC.opendb
.vs/UG_Remote/v16/ipch/AutoPCH/996957a647e6543b/UG_REMOTE.ipch
passwd
x64/Debug/vcpkg.applocal.log
x64/Debug/vc142.pdb
x64/Debug/vc142.idb
x64/Debug/UG_Remote.vcxproj.CopyComplete
x64/Debug/UG_Remote.tlog/UG_Remote.write.1u.tlog
x64/Debug/UG_Remote.tlog/UG_Remote.lastbuildstate
x64/Debug/UG_Remote.tlog/link.write.1.tlog
x64/Debug/UG_Remote.tlog/link.read.1.tlog
x64/Debug/UG_Remote.tlog/link.command.1.tlog
x64/Debug/UG_Remote.tlog/CL.write.1.tlog
x64/Debug/UG_Remote.tlog/CL.read.1.tlog
x64/Debug/UG_Remote.tlog/CL.command.1.tlog
x64/Debug/UG_Remote.pdb
x64/Debug/ug_remote.obj.enc
x64/Debug/UG_Remote.obj
x64/Debug/UG_Remote.log
x64/Debug/UG_Remote.ilk
x64/Debug/UG_Remote.exe
x64/Debug/ssh.dll
x64/Debug/LIBEAY32.dll
kitty.ini
profile.json
.vs/UG_Remote/v16/ipch/AutoPCH/be8276063317816b/UG_REMOTE.ipch
RCa19720
x64/Release/vcpkg.applocal.log
x64/Release/vc142.pdb
x64/Release/UG_Remote.vcxproj.FileListAbsolute.txt
x64/Release/UG_Remote.vcxproj.CopyComplete
x64/Release/UG_Remote.tlog/UG_Remote.write.1u.tlog
x64/Release/UG_Remote.tlog/UG_Remote.lastbuildstate
x64/Release/UG_Remote.tlog/rc.write.1.tlog
x64/Release/UG_Remote.tlog/rc.read.1.tlog
x64/Release/UG_Remote.tlog/rc.command.1.tlog
x64/Release/UG_Remote.tlog/link.write.1.tlog
x64/Release/UG_Remote.tlog/link.read.1.tlog
x64/Release/UG_Remote.tlog/link.command.1.tlog
x64/Release/UG_Remote.tlog/CL.write.1.tlog
x64/Release/UG_Remote.tlog/CL.read.1.tlog
x64/Release/UG_Remote.tlog/CL.command.1.tlog
x64/Release/UG_Remote.res
x64/Release/UG_Remote.pdb
x64/Release/UG_Remote.obj
x64/Release/UG_Remote.log
x64/Release/UG_Remote.ipdb
x64/Release/UG_Remote.iobj
x64/Release/UG_Remote.exe
x64/Release/UG_Remote.Build.CppClean.log
x64/Release/ssh.dll
x64/Release/LIBEAY32.dll
x64/Debug/UG_Remote.tlog/rc.write.1.tlog
x64/Debug/UG_Remote.tlog/rc.read.1.tlog
x64/Debug/UG_Remote.tlog/rc.command.1.tlog
x64/Debug/UG_Remote.res
.vs/UG_Remote/v16/ipch/AutoPCH/9a161890a19087bb/UG_REMOTE.ipch
.vs/UG_Remote/v16/ipch/AutoPCH/a5c517532a0b743b/UG_REMOTE.ipch
portscan.log
x64/Debug/UG_Remote.Build.CppClean.log
x64/Debug/UG_Remote.tlog/unsuccessfulbuild
x64/Debug/UG_Remote.vcxproj.FileListAbsolute.txt
x64/Release/UG_Remote.tlog/link.delete.1.tlog
