wheel
bcrypt
flask
Flask-SQLAlchemy
paramiko
Pillow
psycopg2-binary
pyDes
pyinstaller
git+https://github.com/junhaoliao/simple-websocket-server#egg=SimpleWebSocketServer
websockify
zipstream-new
SQLAlchemy
cachetools
cryptography