websockify==0.10.0
psycopg2-binary==2.9.3; sys_platform == 'linux'
pyDes==2.0.1
bcrypt==3.2.0; sys_platform == 'linux'
cryptography==39.0.1
cachetools==5.0.0; sys_platform == 'linux'
SQLAlchemy==1.4.36; sys_platform == 'linux'
pyinstaller==5.13.2
Flask==2.2.2
Flask-SQLAlchemy==2.5.1; sys_platform == 'linux'
Werkzeug==2.2.2
zipstream-new==1.1.8
paramiko==3.0.0
numpy==1.24.2
pyyaml==6.0.1
git+https://github.com/junhaoliao/simple-websocket-server#egg=SimpleWebSocketServer
