.log-in-wrapper {
    flex: 1;
    height: 500px;
    /* background-color: #e99a25; */
}

.log-in-box {

}

.sign-up-box {

}

.input-wrapper {
    margin-bottom: 20px;
}

.submit-button {
    width: -webkit-fill-available;
}