.unselectable {
    -webkit-user-select: none;
}

.undraggable {
    -webkit-user-drag: none;
}


#init_tab {
    -webkit-app-region: none;
}

#rmt_window_ctrl {
    -webkit-app-region: none;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.win_button {
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 12px;
    text-align: center;
    width: 14px;
    height: 14px;
    display: inline-block;
    line-height: 14px;
    vertical-align: middle;
}

.win_text {
    font-size: 14px;
    font-weight: bold;
    display: none;
}

#rmt_window_ctrl:hover .win_text {
    display: inline-block;
}

#win_close_button {
    background-color: #ff5f57;
}

#win_close_text {
    color: #7c0605;
}

#win_min_button {
    background-color: #febc2e;
}

#win_min_text {
    color: #cb8917;
}

#win_max_button {
    background-color: #28c63f;
}

#win_max_text {
    color: #006000;
}

#rmt_tab_bar {
    height: 40px;
    background-color: #dee1e5;
    -webkit-app-region: drag;
}

#rmt_icon {
    width: 28px;
    margin-left: auto;
    margin-right: auto;
}

#new_tab_button {
    -webkit-app-region: none;
    width: 32px;
    border-radius: 36px;
    justify-content: center;
    transition: background-color 500ms !important;
}

#new_tab_button:hover {
    background-color: #bfc2c6;
}

#new_tab_button_icon {
    margin-left: auto;
    margin-right: auto;
}

.rmt_tab {
    -webkit-app-region: none;
    width: 150px;
    transition: background-color 500ms !important;
}

.rmt_tab:hover {
    background-color: #f2f2f2 !important;
}


.rmt_tab_close_button {
    margin-left: auto !important;
    margin-right: 0 !important;
    width: 20px;
    height: 20px;
}

.rmt_tab_close_icon {
    transform: translate3d(-7px, -7px, 0);
}

.rmt_feature_menu {
    margin-top: 40px !important;
}

.rmt_page {
    /*margin-top: 64px !important;*/
    height: 100%;
}

.rmt_session_name_input {
    width: 292px;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#pages_container {
    margin-left: 88px;
    height: 100%;
}

.rmt_terminal {
    height: 100%;
}

