.change-machine-mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000079;
    z-index: 2;
}

.change-machine-content-wrapper {
    margin: 30px 20px 20px;
}

.change-machine-save {
    left: 0;
    right: 0;
    margin: 30px auto 0;
    width: 196px;
}