{ /* Visible scrollbar on all webkit(mobile) devices */
}
{ /* Reference: https://stackoverflow.com/questions/22907777/make-scrollbar-visible-in-mobile-browsers */
}
#screen ::-webkit-scrollbar {
    -webkit-appearance: none;
}

#screen ::-webkit-scrollbar:vertical {
    width: 14px;
}

#screen ::-webkit-scrollbar:horizontal {
    height: 32px;
}

#screen ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #ffffff;
}

#screen ::-webkit-scrollbar-track {
    background-color: #ffffff;
}

#screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.screen-with-toolbar {
    bottom: 45px !important;
}

#textarea {
    width: 1px;
    height: 1px;
    background-color: #fff;
    color: #fff;
    border: 0;
    position: absolute;
    left: -40px;
    z-index: -1;
    ime-mode: disabled;
}

#fab {
    touch-action: none;
    position: absolute;
    bottom: 38px;
    right: 0
}

#speed-dial-backdrop {
    z-index: 1;
}

#auto-resize-tooltip-title {
    width: 94px;
}

#auto-resize-enabled-text {
    color: green;
    font-weight: bold;
}

#auto-resize-disabled-text {
    color: red;
}